<a href="https://colab.research.google.com/github/kamransadigli/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#My name is Kamran. I am 21.
name=input('What is your name ')
age=input('What is your age ' )
print('Your name is '+name+'. Your age is '+age)

What is your name Kamran
What is your age 21
Your name is Kamran. Your age is 21

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a==b):
  print("Equal")
else:
  print('These numbers are not equal')

These numbers are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if (a>b):
  print("First number is greater than second number")
elif (a<b):
  print("First number is less than second number")
else:
  print("These numbers are equal")

These numbers are equal

In [1]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while(i>0):
  print(i)
  i=i-1

5
4
3
2
1

In [2]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for j in range(10,-1,-2):
  if (j==8):
    continue
  else:
    print(j)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(a):
   return 2022-a
age(1944)

78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
def calculator(a,b):
  return a+b, a-b, a*b, a/b 
calculator(10,2)

(12, 8, 20, 5.0)

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = 3

sum = 0
for counter in range(1, n+1):
    sum = sum + counter
print("Sum of 1 until %d: %d" % (n, sum))

Sum of 1 until 3: 6

In [6]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
t = []
for n in range(0,11):
  t.append(n)
print(t[0:3])

[0, 1, 2]

In [7]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
division = [i for i in range(15) if i%3==0]
print(division)

[0, 3, 6, 9, 12]